*/bin
*/obj
/externals
/.vs/potioncraft-crucible/v17
/.vs/potioncraft-crucible/DesignTimeBuild
/.vs/potioncraft-crucible/project-colors.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/potioncraft-crucible/FileContentIndex
/.vs/ProjectEvaluation
/.vs
/Thunderstore/plugins
